In [1]:
import pandas as pd
countries_df = pd.read_csv("static/csv/countries.csv")

In [2]:
interest_by_region_df = pd.read_csv("static/csv/interest_by_region_df.csv")

In [3]:
interest_by_region_df.head()

          geoName  tacos  sandwiches  kebabs
0     Afghanistan      0           0       0
1         Albania      0           0       0
2         Algeria      0           0       0
3  American Samoa      0           0       0
4         Andorra      0           0       0

In [4]:
countries_df.head()

             name country   latitude   longitude
0     Afghanistan      AF  33.939110   67.709953
1         Albania      AL  41.153332   20.168331
2         Algeria      DZ  28.033886    1.659626
3  American Samoa      AS -14.270972 -170.132217
4         Andorra      AD  42.546245    1.601554

In [5]:
combined_df = pd.merge(interest_by_region_df, countries_df, how="inner", left_on="geoName", right_on="name")

In [6]:
combined_df = combined_df.dropna()
combined_df.head()

,geoName,tacos,sandwiches,kebabs,name,country,latitude,longitude
0,Afghanistan,0,0,0,Afghanistan,AF,33.939110,67.709953
1,Albania,0,0,0,Albania,AL,41.153332,20.168331
2,Algeria,0,0,0,Algeria,DZ,28.033886,1.659626
3,American Samoa,0,0,0,American Samoa,AS,-14.270972,-170.132217
4,Andorra,0,0,0,Andorra,AD,42.546245,1.601554

In [7]:
new_combined_df = combined_df.drop(columns=['name'])

In [8]:
new_combined_df.head()

          geoName  tacos  sandwiches  kebabs country   latitude   longitude
0     Afghanistan      0           0       0      AF  33.939110   67.709953
1         Albania      0           0       0      AL  41.153332   20.168331
2         Algeria      0           0       0      DZ  28.033886    1.659626
3  American Samoa      0           0       0      AS -14.270972 -170.132217
4         Andorra      0           0       0      AD  42.546245    1.601554

In [9]:
new_combined_df.to_csv("static/csv/interest_by_region_loc_df.csv")

In [1]:
# Write to db

In [2]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
from sqlalchemy import Column, Integer, String, Float

In [ ]:
# Create Time and Region Classes
# ----------------------------------
class Time(Base):
    __tablename__ = 'dog'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)